################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASD_Final Project/FileContentIndex
/ASD_Final Project/obj/Debug/ASD_Final Project.csproj.AssemblyReference.cache
/ASD_Final Project/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/ASD_Final Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/ASD_Final Project/v17/.suo
/.vs/ASD_Final Project/v17/DocumentLayout.backup.json
/.vs/ASD_Final Project/v17/DocumentLayout.json
/.vs
/ASD_Final Project/obj/Debug/TempPE
/ASD_Final Project/obj
/ASD_Final Project/bin
/ASD_Final Project/.vs
