################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASD_Final Project/FileContentIndex/4cc6410c-72ad-46e4-915a-9c29f071a9b5.vsidx
/.vs/ASD_Final Project/FileContentIndex/57504f0b-d09c-4880-90ef-34275fcd615f.vsidx
/.vs/ASD_Final Project/FileContentIndex/d5286d75-1ca2-47ea-a9ae-b8a93d104779.vsidx
/.vs/ASD_Final Project/FileContentIndex/ef6a8d1c-ea8b-4983-b061-efadd1cffb74.vsidx
