################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASD_Final Project/FileContentIndex
/ASD_Final Project/obj/Debug
/ASD_Final Project/obj/Release
/.vs/slnx.sqlite
